body {
    background: gray;
}

.navbar {
    
    background-color: #657A55;
    color: white;
}

.page-container {
    margin-top: 75px;
}

.card, #flyer {
    background-color:#fff9ef;
}
#flyer a, .red {
    color: #800000;
}

.btn {
    padding: 0;
}
.jumbotron {
    padding: 32px;
}
#treeImage, #lawnImage {
    width: 80%;
    margin: 30px auto;
}
#lawnImage {
opacity: .7;
}

.alert {
    margin-bottom: 0;
}
/*
FFF5DB
#9CC27E
*/

#schedule {
    background-color: white;
}

.chapter-number {
    font-size: 2em;
    font-weight: 700;
    background-color:#fff9ef;
}

.hacky-padding {
    overflow: hidden;
    text-overflow: clip;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
    height: 0px;
}

.schedule-heading {
    color: white;
}